---
layout: project-page-layout.njk
title: 'PLAYLISTED'
project: PLAYLISTED
projectDescription: Spotify playlist generator web app that allows users to create Spotify playlists based on their selected artists.
heroBanner: playlisted.png
backgroundColor: 'rgb(254, 26, 68)'
technology: ['React', 'NodeJS', 'Material UI', 'Spotify Web API', 'JavaScript', 'HTML/CSS', 'Vercel']
firstSection: '
<p>A playlist generator for Spotify users that allows users to search for Spotify artists and customize a generated playlist for them to listen to. Built on the React front-end framework with a NodeJS + Express backend for API calls to the Spotify Web API.
</p>
<p>The idea of the project was inspired by needing an automated solution for myself when creating playlists based on music festival line ups that I attend, as I worked on the project I had decided to make a general purpose Spotify generator that others could use.
I had a group of friends test the application and had decided to do a general release of the app.
</p>
<p>This has been my most extensive project thus far incorporating both front-end and back-end development skills. This was also my first solo full-stack project.
</p>
<p>Features of the application: </p>
<ul>
<li>Allow users to login with their Spotify account to be able to automatically import generated playlists</li>
<li>Search within Spotifys library for artists</li>
<li>Customization settings for their generated playlist based on length, old vs. new tracks, include top tracks from their artist selection</li>
<li>Uses a simple algorithm to retrieve tracks from Spotify and create a playlist based on customization input</li>
<li>Responsive design to allow accessbility on all types of devices</li>
</ul>'
secondSection: "<p>
  This project has been my most extensive personal project to date. It significantly strengthened my existing React skills and introduced me to new concepts such as utilizing the Context API and reducers to manage global state, without relying on a library like Redux. Extensive research and documentation reading helped me broaden my front-end development knowledge.
</p>
<p>
  My back-end skills also grew as I familiarized myself with APIs and implemented logic to filter tracks retrieved from Spotify’s Web API. This project marked my first time working with the Material UI React library, where I learned new concepts like styled components and theming.
</p>
<p>
  From a design perspective, I carefully crafted the UI to establish a cohesive brand identity. Using the Material UI framework streamlined the design process, allowing me to create a fully responsive UI with ease.
</p>
<p>
  This was my first full-stack project deployed on Vercel. Hosting the application on Vercel required learning how to set up a build and release pipeline, as well as configuring testing and production environments.
</p>"
firstImg: playlisted-1.png
secondImg: playlisted-2.png
---
