---
layout: project-page-layout.njk
title: 'Ravenhall Sports Centre'
project: RAVENHALL SPORTS CENTRE
projectDescription: Wordpress website created for a former Sports Centre located in the Western Suburbs of Melbourne. Offering sports services such as badminton, squash and table tennis.
heroBanner: ravenhall.png
backgroundColor: '#7fbaf1'
technology: ['Wordpress', 'PHP', 'HTML', 'CSS']
firstSection: '
<p>Ravenhall Sports Centre is a former sports centre in the Western Suburbs, this was one of my first independant projects working with a client. The website was built with PHP, HTML and CSS with Wordpress. This was my
first attempt at a Wordpress website. I had worked with the client and a friend who produced the logos and icons on the website. The development of the website took place over the course of two and a half months. My role in this project was
as the <b>Web Developer and Designer.</b></p>
<p>I had designed the initial mock ups for the website and worked off a colour scheme that the client had provided me. A website had existed previously and the client wanted to go off the same type of layout but
with a more modern and revamped look. This was a project I took on the side while doing my studies for my Computer Science degree. From completing this project, I had learnt a lot from a technical point but also from a collaboration perspective, as it required me
to really utilise my communication skills in order produce the exact design my client had wanted.
<p>From a technical standpoint, this helped me understand how Wordpress works and working with a Content Management System (CMS). I was able to further develop my HTML, PHP and CSS skills and the utilisation of Bootstrap in my projects. I am most proud of the home page and the navigation
bar in this project.</p>'
secondSection: '<p>From my experience on working on this solo project, I learnt that working with a client is not easy and requires thorough communication, planning and problem solving. This has definitely improved upon my communication skills as a developer as being able to compromise on design choices was a challenge but 
prioritising a client''s business needs and wants was my top priority when working on this project. The end product was something that my client and I were both satisified with.</p>
<p>I had further developed my design skills and familiarizing myself with mock-up and design tools. For the mock ups, I had used a mix of Figma and Adobe Photoshop. I was able to expand my knowledge on PHP and working with a Content Management System. This required extensive research within the Wordpress documentation in order to achieve the final product. The launch of the website was successful and the customers were pleased with the website as it was far more user-friendly and
appealing to the previous design. Sadly, the Ravenhall Sports Centre had closed down for business in mid-2021.</p>'
firstImg: ravenhall-1.png
secondImg: ravenhall-2.png

---
