---
layout: project-page-layout.njk
title: 'avnjsh - Weather App'
project: 'WEATHER APP'
projectDescription: A simple React weather application that lets you to search and view weekly forecast of cities and save cities as favourites for quick access in the future
heroBanner: weather-app.png
backgroundColor: '#6d84db'
technology: ['React', 'JavaScript', 'Weather API', 'GeoDB API', 'HTML', 'CSS']
firstSection: '
<p>A simple weather application built on React Javascript front-end framework that utilises GeoDB API for autocomplete searches of cities around the world and the OpenWeather API for fetching weather and forecast data of cities.
</p>
<p>The purpose of this project was to practice and develop my React technical skills and utilising APIs and displaying the data to the user. The application also implements the use of local storage to save cities for the user for a more 
personalised experience and ease of use bookmarking cities in the application. The application is responsible and works robustly on any user device. The user interface and design is simple and friendly, following a very material-like UI. 
</p>
<p>The idea of the application came in mind for a bigger project that I am persuing in the future that will utilise the same sort of functionality but on a grander scale, and this was my approach of getting familiar with the React framework for that
future project.
</p>
<p>Features of the application: </p>
<ul>
<li>Autocomplete search for cities around the world</li>
<li>Display current weather and upcoming weekly forecast for a city</li>
<li>Displays other weather details such as humidity, wind and pressure information</li>
<li>Bookmark future cities for easier access in the future</li>
<li>Responsive design to allow accessbility on all types of devices</li>
</ul>'
secondSection: "<p>While this project was a rather simple one, it did allow me to learn more about the React framework, learning about functional components, using hooks and managing states across all components. The main challenge for me was handling the different functions of
the application such as, ensuring that the current displayed cities and the saved cities in local storage stay in sync or when a city is searched that is already saved making sure to remove that from the saved cities temporarily so that data isn't unncessarily displayed twice to the user.
</p>
<p>From a design standpoint, again the UI is very simple and doesn't have flashy animations or interactivity but no CSS framework was used for this project so I was able to expand on my CSS skills and using flexbox to create a responsive experience.
</p>"
firstImg: weather-app-1.png
---
