---
layout: project-page-layout.njk
title: 'avnjsh - Car Pirates'
project: CAR PIRATES
projectDescription: Web application for a car-sharing service allowing users book and rent cars for short periods of time, from a few hours to a few weeks.
heroBanner: car-pirates.png
backgroundColor: '#62b5e1'
technology: ['React', 'Node.js', 'Bootstrap', 'PostgreSQL', 'TomTom API', 'Firebase', 'PayPal API']
firstSection: '
<p>Car Pirates is a Web Application built on React framework for front-end and NodeJS back-end. As part of my university capstone project, we were to build a web application based on a fictitious business idea. The development 
    of this project was done with Agile methodology and processes. Our team consisted of 4 members with different roles, and we worked iteratively through one-week sprints. My role on the team was a <b>Full-Stack Developer</b>.</p>
<p>I had designed and developed the entire user-interface of the application from the login page to the booking screen and utilised third party APIs in my development to implement core functionality of the application
including user authentication, the map displaying available cars, and mock payments. I had developed the API used to store booking details, retrieving car details and location and manipulating the data with our database. While working
on this project. This project was a big learning experience for me, learning things from utilising a front-end framework, implementing third party APIs, building a responsive user interface and handling data between front-end and back-end.</p>'
secondSection: '<p>From working on and building this project, I have learned many essential skills of front-end development. This was my first time working within an Agile practices, it taught me how
to effectively collobarate with members of a team with different skillsets, and learning how crucial communication can be in a considerably fast-paced and adaptive work environment.
</p>
<p>From a technical standpoint, it was one of my
first experiences working with a front-end JavaScript framework and was surprised at how resuable components can drastically improve development when trying to build a user interface. One of the biggest challenges was
implementing third-party APIs such as TomTom Maps API, Firebase Authetication, and the PayPal API as it required lots of documentation reading as well as trial and error when connecting it to our application, but it
taught me how APIs interact with each other. A mobile-first design was a key component to the user-interface as it required the user to be able to use this application on a mobile device, this taught me how to design
an application with a mobile-first mindset, ensuring that every component was still visible and interactable on a smaller device.
</p>
<p>Through my experience with building this application, I have learnt fundamental skills of web application development both front-end and back-end.</p>'
firstImg: car-pirates-1.png
---
