<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="main.css" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<title>Aevan Josh | Web Developer</title>
	</head>
	<body>
		<div class="top-bar">
			<div class="top-bar-content top-bar-fixed">
				<div class="title">
					<a href="/"
						><h1>a<span>e</span>v<span>a</span>nj<span>o</span>sh.</h1></a
					>
				</div>
				<div class="nav">
					<ul>
						{%- for link in navlinks -%}
						<li>
							<a href="{{ link.link }}">{{ link.label }}</a>
						</li>
						{%- endfor -%}
					</ul>
				</div>
				<div class="hamburger" onClick="openMobileNav(this)">
					<svg
						fill="rgb(47, 47, 47)"
						width="28px"
						height="28px"
						viewBox="0 0 1920 1920"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
						<g
							id="SVGRepo_tracerCarrier"
							stroke-linecap="round"
							stroke-linejoin="round"
						></g>
						<g id="SVGRepo_iconCarrier">
							<path
								d="M1920 1411.412v225.882H0v-225.882h1920Zm0-564.706v225.882H0V846.706h1920ZM1920 282v225.882H0V282h1920Z"
								fill-rule="evenodd"
							></path>
						</g>
					</svg>
				</div>
			</div>
		</div>
		<div id="nav">
			<div class="close-nav" onClick="closeMobileNav()">
				<svg
					width="36px"
					height="36px"
					viewBox="0 0 1024 1024"
					xmlns="http://www.w3.org/2000/svg"
					fill="#000000"
				>
					<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
					<g
						id="SVGRepo_tracerCarrier"
						stroke-linecap="round"
						stroke-linejoin="round"
					></g>
					<g id="SVGRepo_iconCarrier">
						<path
							fill="rgb(47, 47, 47)"
							d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z"
						></path>
					</g>
				</svg>
			</div>
			<ul class="mobile-nav" data-aos="fade-down" data-aos-deplay="500">
				{%- for link in navlinks -%}
				<li>
					<a href="{{ link.link }}">{{ link.label }}</a>
				</li>
				{%- endfor -%}
			</ul>
		</div>
		<div class="content">
			<div class="hero-container" data-aos="fade-down">
				<div class="hero-tagline">
					<div class="hero-image-container">
						<svg
							class="purple"
							viewBox="0 0 100 100"
							xmlns="http://www.w3.org/2000/svg"
						>
							<circle cx="50" cy="50" r="50" />
						</svg>
						<svg
							class="black"
							viewBox="0 0 100 100"
							xmlns="http://www.w3.org/2000/svg"
						>
							<circle cx="50" cy="50" r="50" />
						</svg>
						<img class="hero-image" src="hero-image.jpg" />
					</div>
					<div class="hero-text-container">
						<p class="greeting">
							Hi, I'm <span class="highlight">Aevan Josh.</span>
						</p>
						<p class="description">
							I am a
							<span class="highlight">front-end web developer</span>
							with a passion for thoughtful UI design. Seeking to gain industry
							experience in web development.
						</p>
					</div>
				</div>
			</div>
			<div class="project-container">
				<div class="projects-title" data-aos="fade-down">
					<h2><a name="projects">Projects</a></h2>
					<svg
						width="35"
						height="35"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M11.0001 3.67157L13.0001 3.67157L13.0001 16.4999L16.2426 13.2574L17.6568 14.6716L12 20.3284L6.34314 14.6716L7.75735 13.2574L11.0001 16.5001L11.0001 3.67157Z"
							fill="currentColor"
						/>
					</svg>
				</div>
				<div class="project" data-aos="fade-down">
					<div class="project-image">
						<img src="weather-app.png" />
					</div>
					<div class="project-details">
						<div class="project-header">
							<h3>Weather App</h3>
							<ul class="project-tags">
								<li>Personal</li>
								<li>React</li>
								<li>JavaScript</li>
								<li>APIs</li>
								<li>HTML</li>
							</ul>
						</div>
						<div class="project-summary">
							<p>
								Ravenhall Sports Centre is my most extensive personal project, a
								WordPress website I designed and developed for a small business
								client located in the western suburbs of Melbourne. This was my
								first client-based project where I learnt a substancial amount
								of lessons in the process.
							</p>
						</div>
						<div class="button-container">
							<a href="/projects/weather-app"><button>VIEW PROJECT</button></a>
							<a href="/weather-app" target="_blank"><button>DEMO</button></a>
							<a href="https://github.com/avn-j/weather-app" target="_blank"
								><button>GITHUB</button></a
							>
						</div>
					</div>
				</div>
				<div class="project" data-aos="fade-down">
					<div class="project-details">
						<div class="project-header">
							<h3>Car Sharing Web Application</h3>
							<ul class="project-tags">
								<li>University</li>
								<li>React</li>
								<li>JavaScript</li>
								<li>NoSQL</li>
								<li>APIs</li>
							</ul>
						</div>
						<div class="project-summary">
							<p>
								My capstone project for university. A responsive web application
								for a fictitious car-sharing service called "Car Pirates", where
								users can choose to pick up cars within the area and drop them
								off anywhere after usage.
							</p>
						</div>
						<a href="/car-pirates"><button>VIEW PROJECT</button></a>
					</div>
					<div class="project-image">
						<img src="car-pirates.png" />
					</div>
				</div>
				<div class="project" data-aos="fade-down">
					<div class="project-image">
						<img src="everyday-desserts.png" />
					</div>
					<div class="project-details">
						<div class="project-header">
							<h3>Everyday Desserts</h3>
							<ul class="project-tags">
								<li>University</li>
								<li>HTML</li>
								<li>CSS</li>
								<li>PHP</li>
								<li>JavaScript</li>
							</ul>
						</div>
						<div class="project-summary">
							<p>
								Everyday Desserts is a fictitious dessert-kit service for an
								eBusiness university course. The purpose of the project was to
								explore the idea of building an eCommerce platform that sold
								products, focusing heavily on creating a customer-first design.
							</p>
						</div>
						<a href="/everyday-desserts"><button>VIEW PROJECT</button></a>
					</div>
				</div>
			</div>
			<div class="about-me-container">
				<div class="about-me-title" data-aos="fade-down">
					<h2><a name="projects">About Me</a></h2>
					<svg
						width="35"
						height="35"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M11.0001 3.67157L13.0001 3.67157L13.0001 16.4999L16.2426 13.2574L17.6568 14.6716L12 20.3284L6.34314 14.6716L7.75735 13.2574L11.0001 16.5001L11.0001 3.67157Z"
							fill="currentColor"
						/>
					</svg>
				</div>
				<div class="about-me">
					<div class="personal-description" data-aos="fade-right">
						<h3>More About Myself</h3>
						<p>
							My name is Aevan Josh. I am an aspiring full-stack developer
							looking for job opportunities to develop my web development
							skills. I'm passionate about cutting-edge, responsive, and
							captivating web experiences with thoughtful user interfaces.
						</p>
						<p>
							My journey in web development began when I was tinkering with
							basic HTML and CSS websites at a young age including submitting
							English assignments in a website form during early high school.
							From there my passion flourished; I began creating small projects
							involving basic JavaScript to landing my first role in web
							development. Building staple features for eCommerce websites as a
							Graduate Web Developer.
						</p>
						<p>
							My current role does not involve any web development experience
							although I have learned many skills that apply to the industry
							including working with an agile workflow and interacting with
							clients. My current goal is to switch my career path back to the
							web development space and contribute to innovative projects.
						</p>
						<h3 style="margin-top: 5rem">Technical Skills</h3>
						<p>
							These are some of the technologies I have worked with
							professionally:
						</p>
						<ul class="technical-skills" data-aos="zoom-in">
							<li>HTML</li>
							<li>CSS</li>
							<li>JavaScript</li>
							<li>Java</li>
							<li>VueJS</li>
							<li>TypeScript</li>
							<li>NodeJS</li>
							<li>NuxtJS</li>
							<li>TailwindCSS</li>
							<li>MySQL</li>
							<li>NoSQL</li>
							<li>AWS</li>
							<li>Git</li>
							<li>Shell Scripting</li>
							<li>REST APIs</li>
						</ul>
						<p>
							These are some of the technologies I have dabbled with in past
							personal and university projects:
						</p>
						<ul class="technical-skills" data-aos="zoom-in">
							<li>ReactJS</li>
							<li>PHP</li>
							<li>Python</li>
							<li>C#</li>
							<li>Figma</li>
							<li>Adobe Photoshop</li>
							<li>11ty</li>
							<li>Bootstrap</li>
							<li>Firebase</li>
							<li>Postgres</li>
							<li>Flask</li>
						</ul>
					</div>
					<div class="jobs-section" data-aos="fade-left">
						<h3>Experience</h3>
						{%- for job in jobs -%}
						<div class="job" style="margin-top: {{ job.duration * 3 }}rem">
							<div class="job-container" data-aos="fade-left">
								<h4>{{ job.company }}</h4>
								<h4 class="job-title">
									<span>{{ job.title }}</span>
								</h4>
								<h5>{{ job.time }}</h5>
								<p>{{ job.description }}</p>
							</div>
							<div data-aos="zoom-in">
								<svg
									width="48px"
									height="48px"
									viewBox="-112.64 -112.64 737.28 737.28"
									version="1.1"
									xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink"
									fill="#ffffff"
									stroke="#ffffff"
								>
									<g
										id="SVGRepo_bgCarrier"
										stroke-width="0"
										transform="translate(0,0), scale(1)"
									>
										<rect
											x="-112.64"
											y="-112.64"
											width="737.28"
											height="737.28"
											rx="368.64"
											fill="rgb(155, 66, 228)"
											strokewidth="0"
										></rect>
									</g>
									<g
										id="SVGRepo_tracerCarrier"
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke="#CCCCCC"
										stroke-width="1.024"
									></g>
									<g id="SVGRepo_iconCarrier">
										<title>work-case-filled</title>
										<g
											id="Page-1"
											stroke="none"
											stroke-width="1"
											fill="none"
											fill-rule="evenodd"
										>
											<g
												id="work-case"
												fill="#ffffff"
												transform="translate(42.666667, 64.000000)"
											>
												<path
													d="M1.20792265e-13,197.76 C54.5835501,218.995667 112.186031,231.452204 170.666667,234.666667 L170.666667,277.333333 L256,277.333333 L256,234.666667 C314.339546,231.013 371.833936,218.86731 426.666667,198.613333 L426.666667,362.666667 L1.20792265e-13,362.666667 L1.20792265e-13,197.76 Z M277.333333,-1.42108547e-14 L298.666667,21.3333333 L298.666667,64 L426.666667,64 L426.666667,175.146667 C361.254942,199.569074 292.110481,212.488551 222.293333,213.333333 L222.293333,213.333333 L206.933333,213.333333 C136.179047,212.568604 66.119345,199.278929 7.10542736e-15,174.08 L7.10542736e-15,174.08 L7.10542736e-15,64 L128,64 L128,21.3333333 L149.333333,-1.42108547e-14 L277.333333,-1.42108547e-14 Z M256,42.6666667 L170.666667,42.6666667 L170.666667,64 L256,64 L256,42.6666667 Z"
													id="Combined-Shape-Copy"
												></path>
											</g>
										</g>
									</g>
								</svg>
							</div>
						</div>
						{%- endfor -%}
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
			AOS.init();

			var nav = document.getElementById('nav');

			function openMobileNav() {
				nav.classList.remove('slide-out');
				nav.classList.add('slide-in');
			}

			function closeMobileNav() {
				nav.classList.remove('slide-in');
				nav.classList.add('slide-out');
			}

			document.addEventListener('scroll', function (e) {
				closeMobileNav();
			});
		</script>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
</style>
